//
// Code example, view and system vars
//

code {
  padding: 2px;
  background-color: transparent;
  border: 1px solid #24344d;
  -webkit-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.75);

  .jush {
    color: #63b7c0;

    a {
      color: #63b7c0;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}