//
// Sidebar
//

#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: $sidebar-width;
  margin: 0;
  padding: 10px;
  background-color: #0d141f;
  @include defaultStyleBoxShadow;

  p {
    padding: 5px 0;
    margin: 0;
    border: none;
  }

  // Field for select database
  #dbs {
    color: #0d141f;

    span {
      display: none !important;
    }
  }

  form {
    select {
      width: 100%;
    }
  }

  ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: -8px;
    margin-right: -8px;
    border: none;
    height: 70vh;
    overflow: hidden !important;
    overflow-y: auto !important;
    @include scrollbar;

    li {
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 5px;
      padding-bottom: 5px;
      @extend .clearfix;

      &:hover {
        background-color: #24344d;
      }

      a {
        font-size: 1rem;
        background: none;

        &.select {
          float: right;
        }
      }
    }
  }

  // Actions links
  .links {
    @extend .clearfix;

    a {
      float: left;
      width: 50%;
      margin: 0;
      padding: 10px 17px;
    }
  }
}