//
// Table
//

table {
  margin: 1rem 0;
  font-size: 100%;
  border: 1px solid #24344d;
  @include defaultStyleBoxShadow;

  td,
  th {
    border: 0;
    padding: 0.8rem;
    font-weight: 400;
    background: none;
  }

  .checked {
    border-left: 3px solid #a62b6b;
  }

  .odd th,
  .odd td {
    background-color: #020305;
  }

  thead {
    background-color: #24344d;

    tr {
      th,
      td {
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      th,
      td {
        padding: 6px 15px;
      }

      &:hover {
        th,
        td {
          background: #1c2636;
        }
      }
    }
  }
}

.js .checkable .checked td,
.js .checkable .checked th {
  background: #1c2636;
}