//
// Table
//

table {
  margin: 15px 0;
  font-size: 100%;
  border: 1px solid #24344d;
  -webkit-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.75);

  td,
  th {
    border: 0;
    padding: 15px;
    font-weight: 400;
    background: none;
  }

  .checked {
    border-left: 3px solid #a62b6b;
  }

  .odd th,
  .odd td {
    background-color: #0d141f;
  }

  thead {
    background-color: #24344d;

    tr {
      th,
      td {
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      th,
      td {
        padding: 6px 15px;
      }

      &:hover {
        th,
        td {
          background: #1c2636;
        }
      }
    }
  }
}

.js .checkable .checked td,
.js .checkable .checked th {
  background: #1c2636;
}