//
// Table
//

table {
  margin: 1rem 0;
  font-size: 100%;
  border: 1px solid #24344d;
  border-radius: $radius-md;
  overflow: hidden;
  box-shadow: $shadow-sm;

  td,
  th {
    border: 0;
    padding: 0.8rem;
    font-weight: 400;
    background: none;
    transition: background-color $time-fast ease-in-out;
  }

  .checked {
    border-left: 3px solid #a62b6b;
  }

  .odd th,
  .odd td {
    background-color: #020305;
  }

  thead {
    background-color: #24344d;
    z-index: 1;

    tr {
      th,
      td {
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      th,
      td {
        padding: 6px 15px;
      }

      &:hover {
        th,
        td {
          background: $table-row-hover;
        }
      }
    }
  }
}

.odds {
  tbody {
    tr:nth-child(2n) {
      background: $odd-bg;
    }
  }
}

.js .checkable .checked td,
.js .checkable .checked th {
  background: $table-row-checked;
}